@import url(base.css);
a {
  text-decoration: none;
  color: #fff; }

html, body {
  height: 100%; }

body {
  height: 100%;
  display: flex;
  flex-direction: column; }

header {
  width: 16rem;
  height: 2.3rem;
  background: #262626;
  border-bottom: 0.1rem solid #4bccae;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff; }
  header .menu {
    width: 1.5rem;
    height: 1.2rem;
    background: url(../img/menu.png) no-repeat;
    background-size: 1.45rem 1.15rem;
    text-indent: -9999em;
    margin-left: 0.4rem; }
  header h1 {
    font-size: 0.95rem; }
  header .pc {
    width: 1.5rem;
    height: 1.2rem;
    background: url(../img/pc.png) no-repeat;
    background-size: 1.45rem 1.15rem;
    text-indent: -9999em;
    margin-right: 0.4rem; }

section {
  flex: 1;
  overflow: auto;
  -webkit-overflow-scrolling: touch; }
  section .user-box {
    width: 16.0rem; }
    section .user-box .sign-login {
      width: 100%;
      height: 2.05rem;
      background: #fafafa;
      display: flex;
      align-items: center; }
      section .user-box .sign-login div {
        flex: 1;
        height: 1.5rem;
        line-height: 1.5rem;
        font-size: 0.75rem;
        color: #7a7a7a;
        padding-left: 3.45rem; }
      section .user-box .sign-login .sign {
        background: url(../img/login.png) no-repeat 1.45rem center;
        background-size: 1.45rem 1.45rem;
        border-left: 0.05rem solid #e0e0e0; }
      section .user-box .sign-login .login {
        background: url(../img/sign.png) no-repeat 1.45rem center;
        background-size: 1.45rem 1.45rem; }
    section .user-box .slide {
      height: 7.85rem;
      width: 100%; }
      section .user-box .slide ul {
        height: 7.85rem;
        width: 100%;
        overflow: hidden; }
      section .user-box .slide li {
        float: left;
        height: 7.85rem;
        width: 100%; }
        section .user-box .slide li a {
          display: block;
          position: relative;
          height: 7.85rem;
          width: 100%; }
          section .user-box .slide li a img {
            height: 7.85rem;
            width: 100%; }
          section .user-box .slide li a span {
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 1.85rem;
            background: #000;
            opacity: .5;
            filter: alpha(opacity=50); }
          section .user-box .slide li a p {
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 1.85rem;
            font-size: 0.75rem;
            color: #fff;
            line-height: 1.85rem;
            text-align: center;
            letter-spacing: 1px; }
    section .user-box .list1 {
      width: 100%; }
      section .user-box .list1 li {
        height: 2rem;
        line-height: 2rem;
        border-top: 0.05rem solid #ececec;
        margin: 0 0.4rem; }
        section .user-box .list1 li a {
          display: inline-block;
          width: 13.5rem;
          padding-left: 0.35rem;
          font-size: 0.75rem;
          color: #171b1a;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          letter-spacing: 1px; }
      section .user-box .list1 li:nth-of-type(1) {
        border-top: none; }
    section .user-box .hot {
      width: 100%;
      height: 18.8rem;
      border-top: 0.1rem solid #58c1b0; }
      section .user-box .hot .hot-title {
        width: 14.5rem;
        height: 2.0rem;
        padding: 0 0.75rem;
        background: #fafafa;
        border-bottom: 0.05rem solid #e4e4e4; }
        section .user-box .hot .hot-title h2 {
          display: inline-block;
          width: 13.05rem;
          height: 2.0rem;
          line-height: 2.0rem;
          font-size: 0.75rem;
          color: #000; }
        section .user-box .hot .hot-title span {
          display: inline-block;
          -vertical-align: middle;
          width: 1.45rem;
          height: 2rem;
          background: url(../img/hot.png) no-repeat center center;
          background-size: 1.45rem 1.45rem; }
      section .user-box .hot .hot-slidebox {
        width: 100%;
        height: 16.8rem; }
        section .user-box .hot .hot-slidebox .btn {
          width: 100%;
          height: 2.1rem;
          box-sizing: border-box;
          border-bottom: 0.05rem solid #ececec; }
          section .user-box .hot .hot-slidebox .btn div {
            font-size: 0.75rem;
            color: #1d1d1d;
            width: 3.1rem;
            height: 2.0rem;
            line-height: 2.1rem;
            text-align: center; }
        section .user-box .hot .hot-slidebox .hot-on {
          border-bottom: 0.1rem solid #d2385a; }
        section .user-box .hot .hot-slidebox .btn-slide {
          width: 100%;
          height: 14.75rem; }
          section .user-box .hot .hot-slidebox .btn-slide .hot-listol > li {
            display: none; }
          section .user-box .hot .hot-slidebox .btn-slide .hot-listol .first-ol {
            display: block; }
          section .user-box .hot .hot-slidebox .btn-slide .hot-listol li {
            height: 14.75rem;
            width: 100%; }
            section .user-box .hot .hot-slidebox .btn-slide .hot-listol li ul {
              height: 14.75rem; }
              section .user-box .hot .hot-slidebox .btn-slide .hot-listol li ul .first-li {
                border-top: none;
                height: 6.5rem; }
                section .user-box .hot .hot-slidebox .btn-slide .hot-listol li ul .first-li div {
                  height: 4.5rem;
                  padding-left: 0.35rem; }
                  section .user-box .hot .hot-slidebox .btn-slide .hot-listol li ul .first-li div img {
                    display: block;
                    float: left;
                    vertical-align: top;
                    width: 5.2rem;
                    height: 3.7rem; }
                  section .user-box .hot .hot-slidebox .btn-slide .hot-listol li ul .first-li div p {
                    width: 8.3rem;
                    height: 3.7rem;
                    margin-left: 0.7rem;
                    line-height: 1.25rem;
                    font-size: 0.65rem;
                    color: #818181;
                    float: left;
                    overflow: hidden; }
              section .user-box .hot .hot-slidebox .btn-slide .hot-listol li ul li {
                width: 15.2rem;
                height: 2rem;
                line-height: 2rem;
                border-top: 0.05rem solid #ececec;
                margin: 0 0.4rem; }
                section .user-box .hot .hot-slidebox .btn-slide .hot-listol li ul li a {
                  display: block;
                  width: 13.5rem;
                  padding-left: 0.35rem;
                  font-size: 0.75rem;
                  color: #171b1a;
                  overflow: hidden;
                  white-space: nowrap;
                  text-overflow: ellipsis;
                  letter-spacing: 1px; }
    section .user-box .back-top {
      width: 100%;
      height: 3rem;
      border-top: 0.05rem solid #e4e4e4; }
      section .user-box .back-top a {
        display: block;
        width: 8.5rem;
        height: 3rem;
        line-height: 3rem;
        padding-left: 7.5rem;
        background: url(../img/back-top.png) no-repeat 5.5rem center #fafafa;
        background-size: 1.5rem 1.5rem;
        font-size: 0.75rem;
        color: #848790; }

footer {
  height: 3.75rem;
  border-top: 0.1rem solid #4bccae;
  background: #262626;
  display: flex;
  align-items: center; }
  footer a {
    flex: 1;
    height: 1.9rem;
    line-height: 1.9rem;
    text-align: center;
    font-size: 0.7rem; }
    footer a span {
      display: inline-block; }
  footer a:nth-of-type(1) span {
    width: 2.0rem;
    height: 1.45rem;
    line-height: 1.45rem;
    padding-left: 2rem;
    background: url(../img/pc.png) no-repeat 0rem center;
    background-size: 1.45rem 1.15rem; }
  footer a:nth-of-type(2) {
    border-left: 0.05rem solid #666; }
    footer a:nth-of-type(2) span {
      width: 3.1rem;
      height: 1.45rem;
      padding-left: 1.25rem;
      line-height: 1.45rem;
      background: url(../img/phone.png) no-repeat 0rem center;
      background-size: 0.65rem 1.15rem; }
